.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(50, 50, 50);
    -fx-light-text-color: rgb(220, 220, 220);
}

.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

.text-field:focused {
    -fx-prompt-text-fill: transparent;
}

.text-field:error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}