@import "remove-highlight.css";
@import "icon-buttons.css";

/* Huge text for FX Log in 'about' popup */
.title-huge {
    -fx-font-size: 4em;
    -fx-font-weight: bold;
}

/* Subsection title (in preferences) */
.title-subsection {
    -fx-font-weight: bold;
}

/* Red border on invalid text fields */
.text-input:invalid {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

/* Red border on invalid text fields (in editable cells) */
.list-cell:invalid {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

/* Make the scrollbar bigger */
#logs-table .scroll-bar .thumb,
#logs-table .scroll-bar .increment-button,
#logs-table .scroll-bar .decrement-button {
    -fx-padding: 5px;
}

.search-background {
    -fx-background-radius: 2px;
    -fx-background-color: -fx-background;
}

.flat-button {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

.flat-button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}