/* Huge text for FX Log in 'about' popup */
.title-huge {
    -fx-font-size: 4em;
    -fx-font-weight: bold;
}

/* Subsection title (in preferences) */
.title-subsection {
    -fx-font-weight: bold;
}

/* Pencil button color */
.button-pencil:hover > .label {
    -fx-text-fill: fa-color-pencil;
}

/* Magnet button color */
.button-magnet:selected > .label,
.button-magnet:hover > .label {
    -fx-text-fill: fa-color-magnet;
}

/* Refresh button color */
.button-refresh:hover > .label {
    -fx-text-fill: fa-color-refresh;
}

/* Add button color */
.button-plus:hover > .label {
    -fx-text-fill: fa-color-plus;
}

/* Trash buttons color */
.button-trash:hover > .label {
    -fx-text-fill: fa-color-trash;
}

/* Arrow buttons color */
.button-arrow:hover > .label {
    -fx-text-fill: fa-color-arrow;
}

/* Red border on invalid text fields */
.text-input:invalid {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

/* Red border on invalid text fields (in editable cells) */
.list-cell:invalid {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

/* Make the scrollbar bigger */
#logs-table .scroll-bar .thumb,
#logs-table .scroll-bar .increment-button,
#logs-table .scroll-bar .decrement-button {
    -fx-padding: 5px;
}

/* Remove blue highlight on focused tables and lists */
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:contains-focus {
    /* back to normal background */
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
}

/* Remove blue highlight on focused panes */
.scroll-pane:focused,
.split-pane:focused {
    /* back to normal background */
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
}