.title {
    -fx-font-size: 4em;
    -fx-font-weight: bold;
}

/* Red border on invalid fields/cells */
.text-input:invalid {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}
.list-cell:invalid {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

/* Make the scrollbar bigger */
#logs-table .scroll-bar .thumb,
#logs-table .scroll-bar .increment-button,
#logs-table .scroll-bar .decrement-button {
    -fx-padding: 5px;
}

/* Remove blue highlight on tables */
.table-view:focused {
    -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

/* Remove blue highlight on lists */
.list-view:focused {
    -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}