.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2%);
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);
    -fx-accent: rgb(0, 50, 70);
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color */
.text-input {
    -fx-highlight-fill: derive(-fx-control-inner-background, +20%);
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-prompt-text-fill: transparent;
}

/* Fix scrollbar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

/*
 * Pseudo classes on table-row-cell:
 * - focused = last clicked
 * - selected = within the selection
 */

/* Non selected rows */
.table-view {
    -fx-table-cell-border-color: transparent;
}

/* Selected row when table is focused */
.table-view:focused .table-row-cell:filled:focused:selected,
.table-view:focused .table-row-cell:selected {
    -fx-table-cell-border-color: -fx-selection-bar;
}

/* Selected row when table not focused */
.table-row-cell:focused:selected,
.table-row-cell:selected {
    -fx-table-cell-border-color: -fx-selection-bar-non-focused;
}